.nav-link {
  margin-right: 30px;
}

.profile__info {
  margin-top: 10px;
  padding: 50px;
  max-height: 100vh;
}

.profile__card {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 0;
}

.profile__card__button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile__delete {
  margin-top: 30px;
}

.profile__welcome {
  padding-top: 20px;
}

.profile__tabs {
  margin-top: 40px;
}

.profile__topic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.userline__box {
  display: flex;
  justify-content: center;
}

.userline__link {
  background-color: #a450d9;
  height: 60px;
  width: 200px;
  border-radius: 10px;
  padding-top: 15px;
  text-align: center;

  margin-top: 30px;
}

.userline__link a {
  color: white;
  text-decoration: none;
}

.theme-switch {
  color: white;
}